body{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    background-color: rgba(235, 232, 232, 0.967);
    color:black;
}
h1{
    text-align: center;
    padding-top: 50px;
    color: black;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}
.pp{
    color: black;
}
.srch h1{
    
color: blueviolet;

}